body {
    /*background: url(../resource/index_bg1.jpg) no-repeat center center fixed;*/
    background-attachment: fixed;
    background: #eee !important;
}

.change_avatar {
    width: 36px;
}

p {
    margin: 0;
}

.search_back {
    transition: background 1s;
    -moz-transition: background 1s; /* Firefox 4 */
    -webkit-transition: background 1s; /* Safari 和 Chrome */
    -o-transition: background 1s; /* Opera */
    cursor: pointer;
}

/*页面主体*/

.content_div {
    margin-top: 55px;
    position: relative;
}

.content_main {
    margin: 0 40px 0 35px;
}

.card_list {
    padding-left: 20px;
}

/*覆盖原定义*/
.ui.menu .item {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.ui.text.menu {
    margin: .5rem -.5rem;
}

.hide {
    display: none;
}

/*分类导航部分*/
.subject_text a {
    padding: 0 10px;
}

.subject_tag_table {
    height: 400px;
    background: rgba(0, 0, 0, 0.5);
}

.all_courses:hover {
    cursor: pointer;
}

.subject_tag_table td {
    color: whitesmoke;
    text-align: center;
    font-size: 16px;
    padding: 3px 8px;
}

.subject_tag_table a:link, .subject_tag_table a:visited {
    color: whitesmoke;
}

.text_hover_ghost {
    font-size: 18px;
    transition: all 0.5s;
}

.text_hover_ghost:hover {
    font-size: 22px;
}

.go_down {
    cursor: pointer;
}

.go_down:hover, .about_me:hover {
    color: dodgerblue;
}

.about_me {
    cursor: pointer;
}

/*跳到顶部*/
.to_top {
    position: fixed;
    z-index: 999;
    bottom: 80px;
    right: 30px;
    cursor: pointer;
}

/*轮播*/


/*论坛部分*/
.bbs_prev {
    padding: 0 10px 0;
    padding-bottom: 10px;
    margin: 10px 20px;
}

.bbs_prev_content {
    margin: 0 auto;
    width: 100%;
}

/*头像修改*/
.change_avatar_list img {
    height: 50%;
}

.change_avatar_list_avatar {
    cursor: pointer;
}

.avatar_choose {
    background: rgba(93, 93, 93, 0.51);
}

@keyframes load {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}