body{
    background: url(../resource/index_bg1.jpg) no-repeat center center fixed;
}

/*顶部*/
.header {
    /*visibility: hidden;*/
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.49);
    position: absolute;
    z-index: 20;
}

.header .logo_td {
    background: white;
    min-width: 140px;
}

.header .search_td {
    min-width: 315px;
    background: white;
}

.header .info_td {
    background: white;
    min-width: 170px;
}

.header .logo p {
    line-height: 60px;
    text-align: center;
    font-size: 22px
}

.header .userinfo p {
    line-height: 60px;
    text-align: center;
}

.header .userinfo img {
    width: 30px;
    margin: 0 5px 10px 0;
}

.header .userinfo span {
    font-size: 26px;
}

.header .userinfo a {
    margin-left: 20px;
    font-size: 18px;
}

p {
    margin: 0;
}

.search_back {
    transition: background 1s;
    -moz-transition: background 1s; /* Firefox 4 */
    -webkit-transition: background 1s; /* Safari 和 Chrome */
    -o-transition: background 1s; /* Opera */
    cursor: pointer;
}

/*展开搜索框相关*/
.search_back {
    width: 200px;
    height: 64px;
    text-align: center;
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
    font-size: 26px;
}

.search_back p {
    color: cornflowerblue;
    line-height: 60px;
}

.search_title {
    position: absolute;
    z-index: 50;
    top: 0;
    left: 46%;
    font-size: 26px;
}

.search_title span {
    line-height: 64px
}

/*页面主体*/
body {
    overflow-y: hidden;
}

.content_div {
    position: relative;
}

.content_main {
    margin: 80px 10px 10px 10px;
    height: 1000px;
}

/*视频列表*/
.video_list .box {
    margin: 10px;
}

.video_list .box, .video_list .box img {
    width: 250px;
    height: 140px;
}

.full-length {
    width: 100%;
    float: left;
    padding-bottom: 80px;
}
.video_list td{
    padding-left: 5px;
}
.video_list ul {
    margin: 0 -1.5%;
}

.video_list li {
    float: left;
    width: 31.33%;
    margin: 10px 1%;
    list-style: none;
}

.video_list h3 {
    font-size: 20px;
    margin: 5px 0 10px;
}

.video_list .btn {
    display: inline-block;
    padding: 5px 10px;
    font-size: 14px;

    color: #4d92d9;
    border: 2px solid #4d92d9;

    background-color: transparent;
    text-decoration: none;
    transition: 0.4s;
}

.video_list .btn:hover {
    background-color: #4d92d9;
    color: #fff;
    transition: 0.4s;
}

.text-desc {
    word-break: break-all;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    height: 100%;
    line-height: 20px;
    opacity: 0;
    width: 100%;
}

.text-desc p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.text-desc .fa-info-circle {
    position: absolute;
    right: 10px;
    top: 10px;
    text-decoration: none;
}

/*背景*/
.index_bg {

}
.index_tag_search {
    width: 400px;
    height: 130px;
    border: 1px solid #ccc;
    background: white;
    opacity: 0.8;
}
.index_tag_search h3 {
    font-weight: bold;
    height: 20px;
    margin: 10px auto 15px;
    padding: 0 10px;
    text-align: center;
    width: 100px;
}


.subject_text a{
    padding-left: 20px;
}

.hub-slider{
    width: 900px;
    top: 30px;
    left: 80px;
}

/*搜索建议*/
.search_suj{
    color: dodgerblue;
    cursor: pointer;
}
