
body {
    /*background: url(../resource/bg.jpg) no-repeat center center fixed;*/
    padding: 0;
    margin: 0;
}

#login {
    padding: 20px;
    position: absolute;
    background: white;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    /*right: 100px;*/
    width: 310px;
    overflow: hidden;
    z-index: 999;
    box-shadow: 3px 3px 20px rgba(90, 90, 90, 0.41);
    border-radius: 3px;
}

.login_input {
    padding-left: 30px;
    margin-top: 5px;
    width: 260px;
}

.form-control-feedback {
    left: 0;
    top: 0;
}

#checkbox_div {
    padding: 0 10px 0 20px;
}

#btn_div {
    padding: 0 20px 0 20px;
    margin: 10px auto;
}

#reg_btn {
    width: 100px;
}

#submit_btn {
    width: 100px;
    float: right;
}

#login_role {
    margin: 20px 0 0 10px;
}

#login_form {
    margin-top: 0;
}

#footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    /*background: rgba(86, 86, 86, 0.5);*/
}

footer {
    font-size: 16px;
    margin: auto;
    color: black;
    /*background: rgba(105, 105, 105, 0.31);*/
}

.login_logo {
    width: 64px;
    display: inline;
}

#Mycanvas {
    position: absolute;
    top: 0;
    left: 0;
}

/*消除遮罩bug*/

/*美化checkbox*/
.demo--label {
    margin: 20px 20px 0 0;
    display: inline-block;
    font-weight: normal;
}

.demo--radio {
    display: none
}

.demo--radioInput {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 100%;
    display: inline-block;
    height: 16px;
    margin-right: 10px;
    margin-top: -1px;
    vertical-align: middle;
    width: 16px;
    line-height: 1
}

.demo--radio:checked + .demo--radioInput:after {
    background-color: #57ad68;
    border-radius: 100%;
    content: "";
    display: inline-block;
    height: 12px;
    margin: 1px;
    width: 12px
}

.demo--checkbox.demo--radioInput, .demo--radio:checked + .demo--checkbox.demo--radioInput:after {
    border-radius: 0
}