
body {
    /*background: url(../resource/bg.jpg) no-repeat center center fixed;*/
    padding: 0;
    margin: 0;
}

#login {
    padding: 20px;
    position: absolute;
    background: white;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    /*right: 100px;*/
    width: 310px;
    overflow: hidden;
    z-index: 999;
    box-shadow: 3px 3px 20px rgba(90, 90, 90, 0.41);
    border-radius: 3px;
}

.login_input {
    padding-left: 30px;
    margin-top: 5px;
    width: 260px;
}

.form-control-feedback {
    left: 0;
    top: 0;
}


#btn_div {

}

#reg_btn {
    width: 100px;
}

#submit_btn {
    width: 100px;
    float: right;
}

#login_role {
    margin: 20px 0 0 10px;
}

#login_form {
    margin-top: 0;
}

#reg_modal input{
    max-width: 300px;
}

#footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    /*background: rgba(86, 86, 86, 0.5);*/
}

footer {
    font-size: 16px;
    margin: auto;
    color: black;
    /*background: rgba(105, 105, 105, 0.31);*/
}

.login_logo {
    width: 64px;
    display: inline;
}

.login_loader {
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.21);
    display: none;
}

#Mycanvas {
    position: absolute;
    top: 0;
    left: 0;
}