.play_header {
    padding: 10px 30px 10px 30px;
    border: 1px red solid;
}

.play_header {
    height: 50px;
}

.paly_userinfo {
    height: 50px;
    float: right;
}

.paly_userinfo_avatar {

}

.paly_userinfo_avatar > img {
    margin: 2px 3px 0px 0px;
    height: 30px;
    float: left;
}

.paly_userinfo_name {
    font-size: 24px;
    float: left;
}

.history {
    margin: 3px 10px 0px 0px;
    font-size: 20px;
    float: left;
}

div {
    border: 1px red solid;
}

.play {
    margin: 10px;
}

.player {
    width: 720px;
    height: 576px;

    float: left;
}

.note {
    width: 300px;
    height: 576px;

    float: left;
}

.info {
    clear: both;
    padding-top: 10px;
    margin: 10px;
}

.teacher_info {
    height: 100px;
}

.course_info {
    height: 100px;
}