p {
    margin: 0;
}

.user_avatar {
    padding-top: 10px;
    height: 30%;
}

.post_table {
    border: 1px solid;
    width: 100%;
    margin: 10px 0;
    box-shadow:3px 3px 5px #a8a8a8;
    transition: all 1s;
    -moz-transition: all 1s; /* Firefox 4 */
    -webkit-transition: all 1s; /* Safari and Chrome */
    -o-transition: all 1s; /* Opera */
}
.post_table:hover{
    background: #ececec;
}

.post_body{
    margin: 0 80px;
}

.post_table table {
    width: 100%;
}

.post_content_table{
    border-left: 1px solid;
}

.post_content {
    padding: 10px 10px 30px;
}

.position{
    position: absolute;
    right: 220px;
    bottom: 10px;
}

.create_date {
    position: absolute;
    right: 10px;
    bottom: 10px;
}