p {
    margin: 0;
}

.post_body {
    margin: 0 80px;
}

.post_content {
    padding: 10px 10px 30px;
}
.avatar{
    width: 42px;
}

/* table 样式 */
.post_content table {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.post_content table td,
.post_content table th {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 3px 5px;
}

.post_content table th {
    border-bottom: 2px solid #ccc;
    text-align: center;
}

/* blockquote 样式 */
.post_content blockquote {
    display: block;
    border-left: 8px solid #d0e5f2;
    padding: 5px 10px;
    margin: 10px 0;
    line-height: 1.4;
    font-size: 100%;
    background-color: #f1f1f1;
}

/* code 样式 */
.post_content code {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    background-color: #f1f1f1;
    border-radius: 3px;
    padding: 3px 5px;
    margin: 0 3px;
}

.post_content pre code {
    display: block;
}

/* ul ol 样式 */
.post_content ul, ol {
    margin: 10px 0 10px 20px;
}