.logo {
    position: relative;
    left: 20px;
}

.navigation {
    position: absolute;
    right: 30px;
}

#userinfo {
    height: 200px;
    margin: 30px 10px 30px 10px;
    position: relative;
    text-align: center;
}

#userinfo img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

#userinfo p {
    padding-top: 3px;
    font-size: 16px;
}

#userinfo p[class='identity'] {
    font-weight: bold;
    font-size: 20px;
}

#right_content {
    float: left;
    margin: 70px 20px 20px 260px;
    overflow: auto;
    /*padding: 80px 40px 40px 280px;*/
}


/*表格通用样式*/
tr {
    background: #f6f6f6;
    transition: all 2s;
    -moz-transition: all 2s; /* Firefox 4 */
    -webkit-transition: all 2s; /* Safari and Chrome */
    -o-transition: all 2s; /* Opera */
}

tr:hover {
    cursor: pointer;
    background: #bebebe;
    /*animation: myfirst 1s forwards;*/
    /*transition: all 1s linear;*/
}

th, td {
    padding: 10px;
    /*background: #f6f6f6;*/
    white-space: nowrap;
}

.edit_complete {
    background: rgba(52, 168, 83, 0.71);
}

td > span {
    margin-top: 3px;
}
/*用户管理样式*/

#user_status td {
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis; /* for IE */
    -moz-text-overflow: ellipsis; /* for Firefox,mozilla */
}

/*课程管理样式*/
#course_status td {
    min-width: 50px;
    max-width: 270px;
    overflow: hidden;
    text-overflow: ellipsis; /* for IE */
    -moz-text-overflow: ellipsis; /* for Firefox,mozilla */
}

/*加载遮罩样式*/
#loading {
    position: fixed;
    background: rgba(0, 0, 0, 0.31);
    left: 0px;
    top: 0px;
    text-align: center;
    z-index: 200;
}

#loading_main {
    position: relative;
    font-size: 16px;
    color: black;
    top: 20%;
}

fieldset {
    margin: 10px 0px 20px 0px;
}

.form-group {
    margin: 10px;
}
