.logo {
    position: relative;
    left: 20px;
}

.navigation {
    position: absolute;
    right: 30px;
}

#userinfo {
    height: 200px;
    margin: 10px 10px 50px 10px;
    position: relative;
    text-align: center;
}

#userinfo img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

#userinfo p {
    padding-top: 3px;
    font-size: 16px;
}

#userinfo p[class='identity'] {
    font-weight: bold;
    font-size: 20px;
}

#form_content th, #form_content td {
    padding: 10px;
    background: #f6f6f6;
}
#form_content td span{
    margin-top: 3px;
}

#right_content {
    overflow: auto;
    padding: 80px 40px 40px 280px;
}

#loading {
    position: absolute;
    background: rgba(0, 0, 0, 0.31);
    left: 0px;
    top: 0px;
    text-align: center;
    z-index: 200;
}

#loading_main {
    position: relative;
    font-size: 16px;
    color: black;
    top: 20%;
}